body{
    background-color: #16181c;
    font-family: 'Montserrat', sans-serif;
}
.main{
    background-color: #26292f;
    font-size: 24px;
    width: 450px;
    height: 550px;
    margin: 0px auto;
    border-radius: 10px;
}
.text{
    margin-left: 25px;
    color: #b0bac5;
    padding-top: 10px;
    margin-bottom: 10px;
}
.input{
    width: 400px;
    height: 400px;
    margin-left: 25px;
    resize: none;
    border: none;
    border-style: none;
    outline: none;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}
.button{
    width: 60px;
    height: 30px;
    margin-top: 40px;
    margin-left: 195px;
    background-color: #1bda6a;
    color: black;
    border:none; 
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
}
h1{
    width: 50px;
    color: #b0bac5;
}
